.price {
  height: auto;
  width: 1100px; }
  .price__header {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #454546; }
  .price__text {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #727272; }
  .price__dot-img {
    margin: 40px auto 90px auto;
    width: 90px;
    height: 25px;
    background: url("../../../img/Separator2.png") center center no-repeat; }
  .price__price-cards {
    margin: 0 auto;
    width: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
