.video {
    height: auto;
    width: 600px;
    &__header {
        margin: 0;
        text-align: center;
        font-size: 16px;
        color: #454546;
    }
    &__text {
        margin: 30px 0 0 0;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        color: #727272;
    }
    &__dot-img {
        margin: 50px auto 30px auto;
        width: 10px;
        height: 25px;
        background: url('../../../img/Separator.png') center center no-repeat;
    }
    &__img {
        margin: 0 auto;
        width: 105px;
        height: 105px;
        background: url('../../../img/play_btn_copy.png') center center no-repeat;
    }
}