.content {
    width: 100%;
    &__title-wrapper {
        background: linear-gradient(#d1d1d1 70%, #ffffff);
        height: 560px;
        display: flex;
        justify-content: space-around;
    }
    &__info-wrapper {
        height: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__video-wrapper {
        height: 620px;
        background-color: #d1d1d1;
    }
    &__clients-wrapper {
        height: 800px;
        background-color: #ffffff;
    }
    &__team-wrapper {
        height: 740px;
        background-color: #f0f0f0;
    }
    &__gallery-wrapper {
        height: 1260px;
        background-color: #ffffff;
    }
    &__price-wrapper {
        height: 1000px;
        background-color: #f0f0f0;
    }
    &__get-template-wrapper {
        height: 420px;
        background-color: #ffffff;
    }
    &__projects-wrapper {
        height: 670px;
        background-color: #f0f0f0;
    }
    &__subscribe-wrapper {
        height: 340px;
        background-color: #f0f0f0;
    }
    &__corp-clients-wrapper {
        height: 620px;
        background-color: #ffffff;
    }
    &__info-wrapper,
    &__video-wrapper,
    &__clients-wrapper,
    &__team-wrapper,
    &__gallery-wrapper,
    &__price-wrapper,
    &__get-template-wrapper,
    &__projects-wrapper,
    &__subscribe-wrapper,
    &__corp-clients-wrapper
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}