.content {
    width: 100%;
    &__title-wrapper {
        background: linear-gradient(#d1d1d1 70%, #ffffff);
        height: 560px;
        display: flex;
        justify-content: space-around;
    }
    &__info-wrapper {
        height: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__video-wrapper {
        height: 620px;
        background-color: #d1d1d1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__clients-wrapper {
        height: 800px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__team-wrapper {
        height: 740px;
        background-color: #f0f0f0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__gallery-wrapper {
        height: 1260px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}