.clients {
  height: inherit;
  max-width: 1100px; }
  .clients__header {
    margin: 100px 0 0 0;
    text-align: center;
    font-size: 16px;
    color: #454546; }
  .clients__dot-img {
    margin: 40px auto 90px auto;
    width: 90px;
    height: 25px;
    background: url("../../../img/Separator2.png") center center no-repeat; }
  .clients__client-card-wrapper {
    width: 710px;
    height: 390px;
    overflow: hidden; }
  .clients__client-card-container {
    width: 2150px;
    height: inherit; }
  .clients__controls {
    margin: 30px auto 0 auto;
    width: 75px;
    height: 15px; }
  .clients__client-card {
    display: inline-block; }

#card-1:checked ~ .clients__client-card-wrapper > .clients__client-card-container {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

#card-2:checked ~ .clients__client-card-wrapper > .clients__client-card-container {
  -webkit-transform: translateX(-715px);
      -ms-transform: translateX(-715px);
          transform: translateX(-715px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

#card-3:checked ~ .clients__client-card-wrapper > .clients__client-card-container {
  -webkit-transform: translateX(-1425px);
      -ms-transform: translateX(-1425px);
          transform: translateX(-1425px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
