.info-card {
  width: 300px;
  height: auto; }
  .info-card__img {
    margin: 0 auto;
    width: 50px;
    height: 50px; }
    .info-card__img_img-1 {
      background: url("../../../img/mobile_friendly.png") center center no-repeat; }
    .info-card__img_img-2 {
      background: url("../../../img/retina_ready.png") center center no-repeat; }
    .info-card__img_img-3 {
      background: url("../../../img/well_documented.png") center center no-repeat; }
  .info-card__dot-img {
    margin: 35px auto 35px auto;
    width: 10px;
    height: 25px;
    background: url("../../../img/Separator.png") center center no-repeat; }
  .info-card__header {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #454546; }
  .info-card__text-wrapper {
    margin: 40px auto 0 auto;
    width: 265px; }
  .info-card__text {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    color: #727272; }
