.clients {
    height: inherit;
    max-width: 1100px;
    &__header {
        margin: 100px 0 0 0;
        text-align: center;
        font-size: 16px;
        color: #454546;
    }
    &__dot-img {
        margin: 40px auto 90px auto;
        width: 90px;
        height: 25px;
        background: url('../../../img/Separator2.png') center center no-repeat;
    }
    &__client-card-wrapper {
        width: 710px;
        height: 390px;
        overflow: hidden;
    }
    &__client-card-container {
        width: 2150px;
        height: inherit;
    }
    &__radio-input_hidden {
        display: none;
    }
    &__controls {
        margin: 30px auto 0 auto;
        width: 75px;
        height: 15px;
        display: flex;
        justify-content: space-around;
    }
    &__controls-label {
        display:block;
        width:15px;
        height:15px;
        cursor:pointer;
        -moz-border-radius:  50%;
        border-radius:  50%;
        background-color:#7c7b7b;
    }
    &__client-card {
        display: inline-block;
    }
}

#card-1:checked ~ .clients__client-card-wrapper > .clients__client-card-container {
    transform: translateX(0px);
    transition: 0.5s;
}

#card-2:checked ~ .clients__client-card-wrapper > .clients__client-card-container {
    transform: translateX(-715px);
    transition: 0.5s;
}

#card-3:checked ~ .clients__client-card-wrapper > .clients__client-card-container {
    transform: translateX(-1425px);
    transition: 0.5s;
}

#card-1:checked ~ .clients__controls > .clients__controls-label[for="card-1"],
#card-2:checked ~ .clients__controls > .clients__controls-label[for="card-2"],
#card-3:checked ~ .clients__controls > .clients__controls-label[for="card-3"] {
    background-color: black;
}
