.project {
    height: 300px;
    width: 230px;
    &__info {
        margin: 0 0 45px 0;
    }
    &__company-name {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #395e66;
    }
    &__desc {
        font-size: 14px;
        color: #727272;
    }
    &__photo {
        height: 230px;
        width: inherit;
        background-color: #d1d1d1;
    }
}