.price {
    height: auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    &__card {
        border: 5px solid #d1d1d1;
    }
    &__card:nth-child(2) {
        border: 5px solid #f9e074;
    }
}