.price-card {
    width: 305px;
    height: 580px;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(122,122,122,0.3);
    &__star {
        position: absolute;
        margin-left: 238px;
        width: 40px;
        height: 40px;
        background: url('../../../img/star.png') center center no-repeat;
        background-color: #f9e074;
    }
    &__price {
        margin: 50px 0 0 0;
        text-align: center;
        color: #5f5f5f;
    }
    &__price-value {
        font-size: 24px;
        font-weight: bold;
    }
    &__price-time {
        margin-left: -5px;
        font-size: 14px;
    }
    &__dot-img {
        margin: 40px auto 30px auto;
        width: 10px;
        height: 25px;
        background: url('../../../img/Separator.png') center center no-repeat;
    }
    &__name {
        margin: 40px 0 40px 0;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #5f5f5f;
    }
    &__specification {
        list-style-type: none;
        margin: 0 0 0 50px;
        padding: 0;
    }
    &__specification-item {
        margin: 0 0 25px 0;
        font-size: 14px;
        color: #7f7f7f;
        &_line-through {
            text-decoration:line-through
        }
    }
    &__specification-item:last-child {
        margin: 0;
    }
    &__start-button {
        display: block;
        margin: 60px auto 0 auto;
        padding: 0;
        border: 2px solid #395e66;
        width: 196px;
        height: 46px;
        font-size: 16px;
        font-weight: bold;
        color: #395e66;
        background-color: #ffffff;
        cursor: pointer;
    }
}

.price-card:nth-child(2) .price-card__start-button {
    background-color: #395e66;
    color: #ffffff;
}