.corp-client {
    flex-basis: 226px;
    height: 86px;
    &_corp-1 {
        background: url('../../../img/rackspace.png') center center no-repeat;
    }
    &_corp-2 {
        background: url('../../../img/digital_ocean.png') center center no-repeat;
    }
    &_corp-3 {
        background: url('../../../img/earnest.png') center center no-repeat;
    }
    &_corp-4 {
        background: url('../../../img/evernote.png') center center no-repeat;
    }
    &_corp-5 {
        background: url('../../../img/Instagram.png') center center no-repeat;
    }
    &_corp-6 {
        background: url('../../../img/PayPal.png') center center no-repeat;
    }
    &_corp-7 {
        background: url('../../../img/yahoo.png') center center no-repeat;
    }
    &_corp-8 {
        background: url('../../../img/tlassian.png') center center no-repeat;
    }
}